In [13]:
a=[1,2,3]
a.append(9)
a

[1, 2, 3, 9]

In [14]:
a.pop()
a

[1, 2, 3]

In [15]:
a.insert(0,99) #use shift+tab or help() for help
a

[99, 1, 2, 3]

In [28]:
def say(name='Default'):
    '''Says Hello'''
    print(f'Hello {name}')

In [29]:
say()

Hello Default

In [31]:
def add(n1,n2):
    return n1+n2

In [35]:
b=add(8,9)
b

17

In [36]:
add('sam','wise')

'samwise'

In [37]:
def check_even(n):
    if n%2==0:
        return "Even"
    else: return "Odd"

In [38]:
check_even(41)

'Odd'

In [49]:
def check_el(nl):
    en=[]
    for n in nl:
        if n%2==0:
            en.append(n)
        else: pass
    return en

In [50]:
check_el([1,2,3,4,5])

[2, 4]

In [56]:
st_p=[('A', 200), ('G', 400), ('M', 300)]
for t,p in st_p:
    print(t,p*1.1)

A 220.00000000000003
G 440.00000000000006
M 330.0

In [62]:
wh = [('A',100),('B', 400),('C',800),('D',50)]

In [68]:
def ec(wh):
    cm= 0
    em= 'None'
    for e,h in wh:
        if cm<h:
            cm=h
            em=e
    return(cm,em)

In [69]:
ec(wh)

(800, 'C')

In [71]:
e = [1,2,3,4,5,6,7]
from random import shuffle

In [72]:
shuffle(e)
e

[6, 1, 4, 5, 2, 7, 3]

In [73]:
def sh_l(l):
    shuffle(l)
    return(l)

In [76]:
sh_l(e)

[6, 1, 2, 4, 7, 5, 3]

In [78]:
f=['','O','']
sh_l(f)

['', '', 'O']

In [79]:
def guess():
    g=''
    while g not in ['0','1','2']:
        g=input('Pick 0-2')
    return int(g)

In [80]:
guess()

Pick 0-29
Pick 0-22

2

In [84]:
def c_g(f,g):
    if f[g]=='O':
        print('Correct!')
    else: print('Try again!')
    print(f)

In [94]:
f=['','O','']
sh_l(f)
g=guess()
c_g(f,g)

Pick 0-20
Correct!
['O', '', '']

In [100]:
def fp(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*0.05

In [101]:
fp(40,60,100,100)

15.0

In [106]:
def fp(*args):
    return sum((args))*0.05

In [107]:
fp(40,60,100,100,100,100,100)

30.0

In [131]:
def fq(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit:{}'.format(kwargs['fruit']))
    else: print ('No fruit')

In [132]:
fq(fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit:apple

In [163]:
def fr(*args,**kwargs):
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [425]:
def fr1(*args,**kwargs):
    print(f"I would like {args[0]} {kwargs['food']}")

In [430]:
fr1(12,22,23,food='eggos',veggie='lettuce')

I would like 12 eggos

In [167]:
range(20)

range(0, 20)

In [180]:
def lte(a,b):
    if a%2==0 and b%2==0:
        print(min(a,b))
    else: print (max(a,b))

In [183]:
lte(6,8)

6

In [194]:
def ac(a):
    w=a.lower().split()
    return w[0][0] == w[1][0]

In [191]:
ac('Lol lol')

False

In [192]:
ac('Lol Lal')

True

In [195]:
ac('Crazy cat')

True

In [205]:
def mt(a,b):
    return a==20 or b==20 or a+b==20

In [208]:
mt(0,20)

True

In [213]:
def om(a):
    fi=a[:3]
    re=a[3:]
    return fi.capitalize()+re.capitalize()

In [214]:
om('macdonald')

'MacDonald'

In [232]:
def my(a):
    w=a.split()
    return ' '.join(w[::-1])

In [233]:
my('I am home')

'home am I'

In [238]:
def at(n):
    return n>=90 and n<=110 or n>=190 and n<=210

In [241]:
at(209)

True

In [242]:
def at1(n):
    return (abs(100-n)<=10 or abs(200-n)<=10)

In [244]:
at1(250)

False

In [245]:
def myfunc(kwargs):
    p=''
    for x in range(len(kwargs)):
        if (x)%2==0:
            p += kwargs[x].upper()
        else:
            p += kwargs[x].lower()
    return p

In [353]:
def f331(l):
    for n in range(0,len(l)-1):
        if l[n:n+2]==[3,3]:
            return True
    return False

In [354]:
f331([1,3,1,1,2,1,1,1,3,3,1])

True

In [366]:
def f33(l):
    for n in l:
        if l[n]==3 and l[n+1]==3:
            return True
    return False

In [367]:
f33([1,3,1,1,2,1,1,1,3,3,1])

False

In [257]:
def pd(l):
    re=""
    for n in l:
        re+=n*3
    return re

In [258]:
pd('Hello')

'HHHeeellllllooo'

In [276]:
def bj(a,b,c):
    if a+b+c<=21:
        return a+b+c
    elif a+b+c<=31 and 11 in [a,b,c]:
        return a+b+c-10
    else: return('Bust')

In [277]:
bj(9,9,11)

19

In [325]:
def s69(l):
    a=0
    for n in l:
        if n<6 or n>9:
            a+=n
    return a

In [333]:
s69([2,1,6,12,9,11])

26

In [332]:
def s691(l):
    t=0
    a=True
    for n in l:
        while a:
            if n!=6:
                t+=n
                break
            else: a=False
        while not a:
            if n!=9:
                break
            else: a=True
            break
    return t

In [335]:
s691([2,1,6,12,9,11])

14

In [357]:
def f007(l):
    for n in range(0,len(l)-1):
        if l[n:n+3]==[0,0,7]:
            return True
    return False

In [359]:
f007([1,0,4,2,0,7,5])

False

In [360]:
def f0071(l):
    c=[0,0,7,'x']
    for n in l:
        if n==c[0]:
            c.pop(0)
    return len(c)==1

In [363]:
f0071([1,2,4,2,0,7,5,0])

False

In [379]:
def cp(n):
    if n<2:
        return 0
    p=[2]
    x=3
    while x<=n:
        for y in p:
            if x%y==0:
                x+=2
                break
        else:
            p.append(x)
            x+=2
    print(p)
    return(len(p))

In [383]:
cp(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [396]:
def pb(l):
    pa={1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *.  ',8:'*   * ',9:'*    '}
    a={'a':[1,2,4,3,3],'b':[5,3,5,3,5],'c':[4,9,9,9,4],'d':[5,3,3,3,5],'e':[4,9,4,9,4]}
    for p in a[l.lower()]:
        print(pa[p])

In [398]:
pb('e')

*****
*
*****
*
*****

In [399]:
def sq(n):
    return n**2

In [400]:
num=[1,2,3,4,5]

In [402]:
for item in map(sq,num):
    print(item)

1
4
9
16
25

In [403]:
list(map(sq,num))

[1, 4, 9, 16, 25]

In [404]:
def sp(s):
    if len(s)%2==0:
        return 'even'
    else: return s[0]

In [405]:
name=['Andy','Eve','Sally']

In [407]:
list(map(sp,name))

['even', 'E', 'S']

In [410]:
def ce(n):
    return n%2==0

In [412]:
list(filter(ce,num))

[2, 4]

In [415]:
squ = lambda n: n**2

In [417]:
squ(9)

81

In [419]:
list(map(lambda n: n**2,num))

[1, 4, 9, 16, 25]

In [420]:
list(filter(sp,name))

['Andy', 'Eve', 'Sally']

In [423]:
list(map(lambda x:x[::-1],name))

['ydnA', 'evE', 'yllaS']

In [434]:
x=25
def pr():
    x=50
    return x

In [437]:
print(pr())

50

In [439]:
#LEGB
n = "Global String" #Global
def g():
    name="Sammy" #Enclosing
    def h():
        name ="Pam" #Local
        print("Name: "+name)
    h()
g()

Name: Pam

In [441]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [442]:
x=50
def pf(x):
    print(f"X is {x}")
    x=200 #Local reassignment
    print(f"X is now {x}")

In [443]:
pf(x)

X is 50
X is now 200

In [444]:
x

50

In [447]:
x=50
def pf():
    global x
    print(f"X is {x}")
    x=200 #Local reassignment is now global
    print(f"X is now global {x}")

In [448]:
pf()

X is 50
X is now global 200

In [449]:
x

200

In [458]:
def vol(r):
     return (4/3)*(3.14)*(r**3)

In [459]:
vol(2)

33.49333333333333

In [461]:
def nr(n,l,h):
    return n>=l and n<=h

In [465]:
nr(5,2,7)

True

In [466]:
def nr1(n,l,h):
    return n in range(l,h+1)

In [467]:
nr1(5,2,7)

True

In [491]:
def ul(s):
    a=0
    b=0
    for l in s:
        if l.isupper():
            a+=1
        elif l.islower():
            b+=1
        else: pass
    print(s)
    print(f"U: {a}")
    print(f"L: {b}")

In [492]:
s='Hello Mr. Rogers, how are you this fine Tuesday?'
ul(s)

Hello Mr. Rogers, how are you this fine Tuesday?
U: 4
L: 33

In [495]:
def ul1(s):
    d={'U':0, 'L':0}
    a=0
    b=0
    for l in s:
        if l.isupper():
            d['U']+=1
        elif l.islower():
            d['L']+=1
        else: pass
    print(s)
    print(f"U: {d['U']}")
    print(f"L: {d['L']}")

In [496]:
s='Hello Mr. Rogers, how are you this fine Tuesday?'
ul(s)

Hello Mr. Rogers, how are you this fine Tuesday?
U: 4
L: 33

In [511]:
def ul(l):
    return list(set(l))

In [512]:
ul((1,2,3,3,4,5,5,5,5,5))

[1, 2, 3, 4, 5]

In [502]:
def ul1(l):
    x=[]
    for n in l:
        if n not in x:
            x.append(n)
    return x

In [503]:
ul1((1,2,3,3,4,5,5,5,5,5))

[1, 2, 3, 4, 5]

In [504]:
def m(l):
    a=1
    for n in l:
        a=a*n
    return a

In [506]:
m([1,2,3,-4])

-24

In [21]:
def pal(l):
    l=l.replace(' ','')
    return l==l[::-1]

In [22]:
pal('race car')

True

In [51]:
import string
def ip(x, a=string.ascii_lowercase):
    als=set(a)
    x=x.replace(' ','')
    x=set(x.lower())
    #return x==als
    print(x)
    print(als)

In [52]:
ip('The quick brown fox jumped over the lazy dog')

{'o', 'c', 'd', 'b', 'w', 'y', 'e', 'j', 'h', 'q', 'z', 'r', 'a', 'p', 'k', 'i', 'f', 'x', 'n', 'g', 'l', 'v', 'u', 'm', 't'}
{'o', 'c', 'd', 's', 'b', 'w', 'y', 'e', 'j', 'h', 'q', 'z', 'r', 'a', 'p', 'k', 'i', 'f', 'x', 'n', 'g', 'l', 'v', 'u', 'm', 't'}