In [7]:
hungry= False
if hungry:
    print('Feed me!')
else:
    print('Pet me!')

Pet me!

In [8]:
loc ='Bank'
if loc=='Auto':
    print('Cool cars')
elif loc =='Bank':
    print('Money')
elif loc =='Store':
    print('Store')
else:
    print('Dunno')

Money

In [6]:
my_it=[1,2,3,4,5,6,7,8,9,10]
for item in my_it:
    #check even
    if item%2==0:
        print(item)
    else:
        print(f'Odd: {item}')

Odd: 1
2
Odd: 3
4
Odd: 5
6
Odd: 7
8
Odd: 9
10

In [8]:
l_sum = 0
for num in my_it:
    l_sum = l_sum + num
print(l_sum)

55

In [12]:
for l in 'Hello World!':
    print(l)

H
e
l
l
o

W
o
r
l
d
!

In [15]:
m_tup = [(1,2,4),(4,5,6),(7,8,9)]
for a,b,c in m_tup:
    print(b)

2
5
8

In [16]:
d={'k1':1, 'k2':2,'k3':3}
for key,value in d.items(): #d.values
    print(value)

1
2
3

In [24]:
x=0
while x<5:
    print(f'Value of x is {x}')
    x+=1
else:
    print('No')

Value of x is 0
Value of x is 1
Value of x is 2
Value of x is 3
Value of x is 4
No

In [25]:
x=[1,2,3]
for it in x:
    pass
print('End')

End

In [35]:
x='Sammy'

In [36]:
for letter in x:
    if letter =='a':
        continue
    print(letter)

S
m
m
y

In [37]:
for letter in x:
    if letter =='a':
        break
    print(letter)

S

In [43]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [44]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [45]:
i=0

for l in 'abcde':
    print(f'At index {i} the letter is {l}')
    i+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [53]:
word ='abcde'
for i,l in enumerate(word):
    print(i,'\n',l)

0
 a
1
 b
2
 c
3
 d
4
 e

In [54]:
a=[1,2,3,4,5,6]
b=['a', 'b','c']
for i in zip(a,b):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [55]:
'x' in [1,2,3]

False

In [56]:
'a' in 'a world'

True

In [59]:
d = {'k1':'v1'}
'k1' in d.keys()

True

In [64]:
max(b)

'c'

In [67]:
from random import shuffle
shuffle(a)
a

[1, 6, 2, 3, 4, 5]

In [68]:
from random import randint
randint(0,100)

52

In [70]:
input('Enter here:')

Enter here:125

'125'

In [71]:
float('125')

125.0

In [81]:
a='hello'
b=[]
for l in a:
   b.append(l)
b

['h', 'e', 'l', 'l', 'o']

In [82]:
c=[l for l in 'Hello World']
c

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [85]:
d=[n**2 for n in range(0,10)]
d

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
d=[n**2 for n in range(0,10) if n%2==0]
d

[0, 4, 16, 36, 64]

In [88]:
c=(0, 25, 37, 40, 100)
f=[(9/5*t+32) for t in c]
f

[32.0, 77.0, 98.60000000000001, 104.0, 212.0]

In [93]:
e=[n if n%2==0 else 'ODD' for n in range(0,10)]
e

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [96]:
f=[]
for x in [2,4,6]:
    for y in [1,10,100]:
        f.append (x*y)
f

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [98]:
g=[x*y for x in [2,4,6] for y in [1,10,100]]
g

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [100]:
for n in range(1,101):
    if n%3==0 and n%5==0:
        print('FizzBuz')

[range(0, 11)]